<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <!-- Bootstrap CDN -->
    <%- include('../shared/cdn') %>
    <!-- Bootstrap CDN -->
</head>
<body>
    <!-- Header -->
    <%- include('../shared/header') %>
    <!-- Header -->

    <!-- Body -->
    <div class="container">
            <% if(lists && lists.length > 0) { %>
                <table class="table text-center">
                    <tr>
                        <th>Sr. No.</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th colspan="2">Action</th>
                    </tr>
                    <% var len = lists.length; %>
                    <% for(var i = 0; i < len; i++) { %>
                        <tr>
                            <td>#<%= i+1 %></td>
                            <td><%= lists[i].prodName %></td>
                            <td><%= lists[i].price %> Rs.</td>
                            <td>
                                <a href="/details/<%= lists[i]._id %>" class="btn btn-info">View Details</a>
                            </td>
                            <td>
                                <a href="/user/mylist/delete/<%= lists[i]._id %>-.user.mylist" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% } %>
                </table>
            <% } else { %>
                <div class="text-center mt-5">
                    <strong class="text-info">You have not liked any item.</strong>
                </div>
            <% } %>
        
    </div>
    <!-- Body -->

    <!-- Footer -->
    <%- include('../shared/footer') %>
    <!-- Footer -->
</body>
</html>