<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <!-- Bootstrap CDN -->
    <%- include('../shared/cdn') %>
    <!-- Bootstrap CDN -->
</head>
<body>
    <!-- Header -->
    <%- include('../shared/header') %>
    <!-- Header -->

    <!-- Body -->
    <div class="container">
            <% if(orders && orders.length > 0) { %>
                <table class="table table-hover">
                    <tr>
                        <th>Sr. No.</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                    <% var len = orders.length; %>
                    <% for(var i = 0; i < len; i++) { %>
                        <tr>
                            <td>#<%= i+1 %></td>
                            <td><%= orders[i].prodName %></td>
                            <td><%= orders[i].price %> Rs.</td>
                            <td><%= orders[i].quantity %></td>
                            <td><%= orders[i].purchaseDate %></td>
                            <td class="text-success">Purchased</td>
                        </tr>
                    <% } %>
                </table>
            <% } else { %>
                <div class="text-center mt-5">
                    <strong class="text-info">You have not purchased any item yet.</strong>
                </div>
            <% } %>
        
    </div>
    <!-- Body -->

    <!-- Footer -->
    <%- include('../shared/footer') %>
    <!-- Footer -->
</body>
</html>