<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <!-- Bootstrap CDN -->
    <%- include('../shared/cdn') %>
    <!-- Bootstrap CDN -->
</head>
<body>
    <!-- Header -->
    <%- include('../shared/header') %>
    <!-- Header -->

    <!-- Body -->
    <div class="container">
        <!-- <form action="/user/update" method="post"> -->
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>
                        <label for="username"><%= profile.name %></label>
                            <!-- <input type="text" name="username" id="uname" value="abc"> -->
                            <!-- <input type ="text" name="username" id="unameDisabled" value="abc" disabled="disabled"> -->
                    </td>
                    <!-- <td>
                        <button class="btn btn-info" id="nameBtn" onclick="update('unameDisabled', 'nameBtn')">Update</button>
                    </td> -->
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <label for="email"><%= profile.email %></label>
                        <!-- <input type="email" name="email" id="email" value="abc@gmail.com"> -->
                    </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <label for="gender"><%= profile.gender %></label>
                        <!-- <select name="gender" id="gen">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select> -->
                    </td>
                </tr>
            </table>
        <!-- </form> -->
        <script>
            function element(id){
                return document.getElementById(id);
            }
            function update(id, btnId){
                field = element(id);
                btn = element(btnId);
                field.removeAttribute('disabled', 'disabled');
                btn.textContent = 'Save';

            }
        </script>
    </div>
    <!-- Body -->

    <!-- Footer -->
    <%- include('../shared/footer') %>
    <!-- Footer -->
</body>
</html>