<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <!-- Bootstrap CDN -->
    <%- include('../shared/cdn') %>
    <!-- Bootstrap CDN -->
    <style>
        .card{
            max-width: 700px;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <%- include('../shared/header') %>
    <!-- Header -->

    <!-- Body -->
    <div class="container">
        <div class="card my-3 mx-auto">
            <img src="/<%= product.imgPath %>" class="card-img-top" height="350px;" alt="Image not loaded">
            <div class="card-body">
                <h5 class="card-title"><%= product.prodName %></h5>
                <strong class="text-success">Price: <%= product.price %> Rs.</strong>
                <hr/>
                <strong class="text-warning">Information:</strong>
                <p class="card-text text-info">
                    <%= product.info %>
                </p>
                <strong class="text-warning">Product Details:</strong>
                <table class="table">
                <% for(const [key, value] of Object.entries(product.details)) { %>
                    <tr>
                        <% if(key !== '$init') { %>
                        <th> <%= key %> </th>
                        <td> <%= value %> </td>
                        <% } %>
                    </tr>
                <% } %>
                </table>
            </div>
            <div class="card-footer text-center">
                <a href="/user/cart/<%= product._id %>" class="btn btn-outline-success w-50">Continue to cart</a>
            </div>
        </div>
    </div>
    <!-- Body -->

    <!-- Footer -->
    <%- include('../shared/footer') %>
    <!-- Footer -->
</body>
</html>